
.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
input{
    border-radius: 21px;
    font-size: 34px;
    border: 5px solid rgb(5, 53, 53);
}
button{
    font-size: 40px;
    background-color: #978fa0;
    width: 102px;
    height: 58px;
    border-radius: 20px;
    margin: 10px 0;
    text-transform: uppercase;
    background: linear-gradient(90deg,#0162c8,#55e7fc);
}
.calculator{
    display: inline-block;
    border: 3px solid #13695d;
    background-color: #ff99f7;
    padding: 23px;
    border-radius: 45px;
    

}